<h1>Buy some stuff!</h1>

<form action="/checkout" method="post">
<label for="item for purchase">Enter the item you would like to buy:</label>
<input type="text" name="item">
<input type="submit" id="submit">
</form>
